<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <article>
    

    
      <div class="form-image"><!-- image-->
          <img alt="image" src=<%= post.picture %>>
      </div>
      <div class="form-text" >
        <div>
          <h1><%= post.name %></h1>
        </div>
        <div>
          <p><%= post.text %></p>
        </div>
        <div>
          <span><%= post.status %></span>
        </div>
        <div class="form-button">
          <input type="submit" value="EDIT">
          <input type="submit" value="DELETE">
          <input type="submit" value="(UN)DELAY">
        </div>
      </div>
    
  </article>
</body>
</html>