<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>Posts:</h1>
  <ul>
    <% if (posts.length) { %>
      <% posts.forEach(({ id, Name, Description, Picture, Status }) => { %>
      <li>
        <article>
          <div class="form-image">
            <img src=<%= Picture %> alt="image">
          </div>
          <div class="form-text">
          <h2>
            <a href="/posts/<%= id %>"><%= Name %></a>
          </h2>
          <p><%= Description %></p>
          <div class="info">
            <span></span>
            <span><%= Status %></span>
          </div>
          </div>
        </article>
      </li>
    <% }) %>
  <% } %>
  </ul>
</body>
</html>